.App
{
    .inputTxt
    {
        font-family: Tahoma;

        display: flex;

        color: white;
        border: none;
        background-color: black;

        justify-content: center;
        align-self: center;
    }

    button:focus
    {
        outline: none;
    }

    .inputButton
    {
        font-family: Tahoma;

        color: white;
        border: none;
        border: none;
        background-color: green;
    }
}
