.App {

  .inputTxt {
     color: white;
     background-color: black;
     border: none;
     font-family: Tahoma;
     justify-content: center;
     display: flex;
     align-self: center;
   }

  button:focus   {
     outline: none;
   }

 .inputButton {
    color: white;
    background-color: green;
    border: none;
    font-family: Tahoma;
    border: none;
  }

  .messages {

  }

}
